body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red !important;
}

.container {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 95%;
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task input {
  margin-right: 10px;
}

.filter-buttons {
  margin-top: 20px;
  width: 98%;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}
